<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.quietagent.test">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="31" />
    <application android:label="Quiet Agent instrumentation tests" android:debuggable="true">
        <activity android:name=".ProbeActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <provider android:name=".FixtureProvider" android:authorities="app.quietagent.test.fixtures"
            android:exported="false" android:grantUriPermissions="true" />
        <receiver android:name=".GrantReceiver" android:exported="true">
            <intent-filter>
                <action android:name="app.quietagent.test.GRANT_FIXTURE" />
                <action android:name="app.quietagent.test.REVOKE_FIXTURE" />
            </intent-filter>
        </receiver>
    </application>
    <instrumentation
        android:name=".QuietInstrumentation"
        android:targetPackage="app.quietagent"
        android:functionalTest="true" />
</manifest>
